@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

body {
  margin: 0;
}

#preview-wrapper pre {
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;
}
