@import "@fontsource/jetbrains-mono/400.css";
@import "@fontsource/jetbrains-mono/600.css";
@import "@fontsource/fira-code/400.css";
@import "@fontsource/fira-code/600.css";
@import "@fontsource/source-code-pro/400.css";
@import "@fontsource/source-code-pro/600.css";
@import "@fontsource/ibm-plex-mono/400.css";
@import "@fontsource/ibm-plex-mono/600.css";
@import "@fontsource/inconsolata/400.css";
@import "@fontsource/inconsolata/600.css";
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

body {
  margin: 0;
}

#preview-wrapper pre {
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;
}
